<html>
  <head>
    <meta charSet="utf-8" />
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <meta name="color-scheme" content="light dark" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css"
    />
    <script type='module' src='/src/memo-feeds.ts'></script>
  </head>
  <body>
    <main class="container">
      <% if(isDev){ %>
        <memo-feeds memo-url="http://localhost:8787"></memo-feeds>
      <% } else { %>
        <memo-feeds></memo-feeds>
      <% } %>
    </main>
  </body>
</html>
